html, body {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

#app {
  text-align: center;
}

.label {
  font-size: 3.5em;
  padding: 10px;
  margin: 20px;
}

.button {
  font-size: 2em;
  margin: 5px;
}
